.header {
    padding: 30px;
    text-align: center;
    background-color: rgb(144, 238, 144);
    color: rgb(212, 125, 125);
    font-size: 15px;
}

section {
    display: block;
    float: left;
    width: 50%;
}
aside {
    display: block;
    float: right;
    width: 50%;
}


 h2 {
    color: rgb(7, 95, 16);
    text-align: center;
}
p { 
    text-align: center;
}

.center {
    display: block;
    margin: 0 auto ;
}

ul {
     text-align: center;
}

li {
    list-style-position: inside;
}

body {
    background-color: rgb(235, 165, 175);
}
